//@import './utils/placeholders';

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.header {
  position: relative;
  background-color: $color__bkg--col-1;
}

.container--header {
  max-width: 480px;
  //height: 62px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 6px;
  padding-bottom: 6px;

  margin-left: auto;
  margin-right: auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo--header {
  display: flex;
  align-items: center;

  @extend %logo-text;
  letter-spacing: -0.025em;

  &__icon {
    fill: $color__accent;
    margin-right: 19px;
  }
}

.btn--header {
  min-height: 44px;
  min-width: 44px;
  border-radius: 22px;
  border-style: none;
  cursor: pointer;

  font-family: inherit;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.3125;

  display: flex;
  align-items: center;
  text-align: center;

  &.inverted {
    &:hover,
    &:focus {
      background-color: $color__btn--inv-hover;
    }
  }
}

.btn--header__label {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;

  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  color: $color__accent;
}

.btn--header__icon {
  display: block;
  fill: $color__text--secondary;
  stroke: $color__text--secondary;
  margin-left: auto;
  margin-right: auto;
  overflow: visible;

  &.inverted {
    stroke: $color__accent;

    .btn--header:hover & {
      stroke: $color__accent--hover;
    }
  }
}

.main-menu__btn--close {
  margin-left: auto;
  margin-right: -7px;
  margin-bottom: 15px;
  background-color: transparent;

  & .btn--header__icon {
    stroke: $color__text--secondary;
  }
}

.btn--main-menu {
  margin-right: -15px;
  background-color: transparent;
}

$main-menu__width: 250px;
.main-menu {
  display: flex;
  z-index: 10;
  padding-top: 8px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 15px;

  position: absolute;
  top: 0;
  left: 0;

  flex-direction: column-reverse;
  justify-content: flex-end;
  width: $main-menu__width;
  height: 100vh;
  background-color: $color__mob-menu--bkg;
}

.main-menu__item {
  &::after,
  &:not(:last-child)::before {
    display: block;
    content: '';
    margin-left: -20px;
    margin-right: -20px;
    width: $main-menu__width;
    height: 1px;
    background-color: $color__mob-menu--separator;
  }

  &:first-child {
    padding-top: 15px;
  }
  &:last-child {
    padding-bottom: 15px;
  }
}

.nav__item {
  color: $color__text--secondary;

  &--active {
    color: $color__accent;
  }
  &:hover,
  &:focus {
    color: $color__accent;
  }
}

.main-menu__btn--buy {
  //background-color: $color__text--secondary;
  width: 100%;

  margin-bottom: 19px;

  & .btn--header__icon {
    margin-left: 30px;
    stroke: $color__accent;
  }
}

.nav {
  &__item {
    display: block;
    padding-top: 12px;
    padding-bottom: 12px;
  }
}

.nav-list {
  //smth
}
