// * Плейсхолдер для текста

    // Logo
        %logo-text {
            font-family: $secondaryFont;
            font-weight: $normal-weight;
            font-size: 26px;
            line-height: 30px;
            letter-spacing: 0.04em;
            text-transform: uppercase;

            color: $color__accent;
        }
    
    // Header Navigation
        %nav-text {
            font-family: $mainFont;
            font-weight: $bold-weight;

            color: $color__text--secondary;

            @include transition(color);

            &:hover,
            &:focus {
                color: $color__accent;
            }
        }

    // Hero
        %hero-title {
            font-family: $secondaryFont;
            font-weight: $normal-weight;
            letter-spacing: 0.04em;
            text-transform: uppercase;

            color: $color__accent;
        }

        %hero-suptitle {
            font-family: $secondaryFont;
            font-weight: $normal-weight;
            letter-spacing: 0.04em;
            text-transform: uppercase;

            color: $color__text--secondary;
        }

        %hero-text {
            font-family: $mainFont;
            font-weight: $normal-weight;

            color: $color__text--secondary;
        }

        %hero-numbers {
            font-family: $secondaryFont;
            font-weight: $normal-weight;
            letter-spacing: 0.04em;
            text-transform: uppercase;

            color: $color__accent; 
        }

        %hero-numbers-subtext {
            font-family: $mainFont;
            font-weight: $normal-weight;

            color: $color__text--secondary;
        }
// * 