// * variables

// color variables in SASS format

$color__text--primary: #000000;
$color__text--secondary: #ffffff;
$color__text--low-contrast: #907e82;

$color__accent: #d41443;
$color__accent--hover: #c7133e;
$color__accent--secondary: #ffa5ba;

$color__btn--sec-bkg: #d41342;
$color__btn--inv-hover: #ecebeb;

$color__bkg--col-1: #ffb8ca;
$color__bkg--col-2: #f0d1a5;
$color__bkg--col-3: #c2e297;
$color__bkg--mid-section: #fff5f6;

$color__slider--active: #d31342;
$color__slider--passive: #d9d9d9;
$color__slider--underscore: #e1e1e1;

$color__icon-social: #fea5bb;

$color__mob-menu--bkg: #e17992;
$color__mob-menu--separator: #e18298;



// breakpoints

$phone: 480px;
$befor-tablet: 767px;
$tablet: 768px;
$befor-desktop: 1279px;
$desktop: 1280px;