<section class="advantages-section" id="about-us">
  <div class="advantages-container container">
    <h2 class="visually-hidden">Advantages</h2>
    <ul class="advantages-list">
      <li class="advantages-item">
        <span class="advantages-item__number">721</span>
        <p class="advantages-item__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages-item">
        <span class="advantages-item__number">16kg</span>
        <p class="advantages-item__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages-item">
        <span class="advantages-item__number">84</span>
        <p class="advantages-item__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>
