<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section class="reviews">
    <div class="reviews_con container">
        <ul class="reviews_ list">
            <li>
                <div class="reviews">
                    <img src="../images/reviews-client1.png" alt="Author image">

                    <p>Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan
                congue. Lorem ipsum primis in nibh vel risus.</p>
                    
                <ul class="cd-author-info">
                        <li>MyName</li>
                        <li>CEO, AmberCreative</li>
                    </ul>
                </div>
                
            </li>
    
            <li>
                <!-- ... -->
            </li>
    
            <li>
                <!-- ... -->
            </li>
        </ul> <!-- cd-testimonials -->
    </div>

</section>
</body>
</html>
