<picture>
  <source
    media="(max-width: 767px)"
    srcset="
      ./images/products-icecream-mob.png    1x,
      ./images/products-icecream-mob@2x.png 2x,
      ./images/products-icecream-mob@3x.png 3x
    "
  />
  <source
    media="(min-width: 768px)"
    srcset="
      ./images/products-icecream-tab.png    1x,
      ./images/products-icecream-tab@2x.png 2x,
      ./images/products-icecream-tab@3x.png 3x
    "
  />
  <source
    media="(min-width: 1200px)"
    srcset="
      ./images/products-icecream-desk.png    1x,
      ./images/products-icecream-desk@2x.png 2x,
      ./images/products-icecream-desk@3x.png 3x
    "
  />
  <img src="./images/products-icecream-desk.png" alt="picture of ice cream" />
</picture>

<picture>
  <source
    media="(max-width: 767px)"
    srcset="
      ./images/products-icecoffee-mob.png    1x,
      ./images/products-icecoffee-mob@2x.png 2x,
      ./images/products-icecoffee-mob@3x.png 3x
    "
  />
  <source
    media="(min-width: 768px)"
    srcset="
      ./images/products-icecoffee-tab.png    1x,
      ./images/products-icecoffee-tab@2x.png 2x,
      ./images/products-icecoffee-tab@3x.png 3x
    "
  />
  <source
    media="(min-width: 1200px)"
    srcset="
      ./images/products-icecoffee-desk.png    1x,
      ./images/products-icecoffee-desk@2x.png 2x,
      ./images/products-icecoffee-desk@3x.png 3x
    "
  />
  <img src="./images/products-icecoffee-desk.png" alt="picture of ice coffee" />
</picture>

<picture>
  <source
    media="(max-width: 767px)"
    srcset="
      ./images/products-milkshake-mob.png    1x,
      ./images/products-milkshake-mob@2x.png 2x,
      ./images/products-milkshake-mob@3x.png 3x
    "
  />
  <source
    media="(min-width: 768px)"
    srcset="
      ./images/products-milkshake-tab.png    1x,
      ./images/products-milkshake-tab@2x.png 2x,
      ./images/products-milkshake-tab@3x.png 3x
    "
  />
  <source
    media="(min-width: 1200px)"
    srcset="
      ./images/products-milkshake-desk.png    1x,
      ./images/products-milkshake-desk@2x.png 2x,
      ./images/products-milkshake-desk@3x.png 3x
    "
  />
  <img src="./images/products-milkshake-desk.png" alt="picture of milkshake" />
</picture>
