<footer class="footer" id="about-us">

    <div class="footer__container container">

        <div class="footer__title-box">

            <span class="footer__suptitle">homemade ice cream made</span>
            <h2 class="footer__title">with passion</h2>

        </div>

        <div class="footer__contacts-box">

            <div class="footer__social-links">
                <ul class="social-links__list">
                    <li class="social-links__item">
                        <a href="#" class="social-links__link" target="_blank" aria-label="GitHub">
                            <svg class="social-links__icon icon-github" width="20px" height="20px">
                                <use href="./images/icons.svg#icon-github"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="social-links__item">
                        <a href="#" class="social-links__link" target="_blank" aria-label="Telegram">
                            <svg class="social-links__icon icon-telegram" width="20.4px" height="15.87px">
                                <use href="./images/icons.svg#icon-telegram"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="social-links__item">
                        <a href="#" class="social-links__link" target="_blank" aria-label="Facebook">
                            <svg class="social-links__icon icon-facebook" width="9.35px" height="20.4px">
                                <use href="./images/icons.svg#icon-facebook"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>

            <p class="footer__call-slogan">Feel free to contact <a href="tel:+610383766284" class="footer__tel">+61 (0) 383 766 284</a></p>
        
        </div>
   
    </div>

    <div class="footer__copyright-box">

        <p class="footer__copyright">&copy; 2021 - IceCream. All Rights Reserved.</p>
        
    </div>

</footer>