<header class="header" id="header">
    <div class="container--header">
        <a href="./" class="link logo--header">
            <svg class="logo--header__icon" width="50" height="50">
                <use href="./images/icons.svg#icon-logo-hq"></use>
            </svg>
            Icecream
        </a>    

        <div class="main-menu" data-menu id="main-menu">
            <nav class="nav">
                <ul class="nav-list">
                    <li class="nav__item"><a class="link main-menu__item" href="#header">Home</a></li>
                    <li class="nav__item"><a class="link main-menu__item" href="#about-us">About us</a></li>
                    <li class="nav__item"><a class="link main-menu__item" href="#how-its-made">How it’s made?</a></li>
                    <li class="nav__item"><a class="link main-menu__item" href="#our-products">Our products</a></li>
                    <li class="nav__item"><a class="link main-menu__item" href="#contact">Contact</a></li>
                </ul>
            </nav>

            <button type="button" class="btn--header inverted main-menu__btn--buy" data-head-open-menu>
                <span class="btn--header__label">
                    Buy now                
                </span>
                <svg class="btn--header__icon" width="8" height="10">
                    <use href="./images/icons.svg#angle-right"></use>
                </svg>
            </button>

            <button type="button" data-menu-button-close class="btn--header inverted main-menu__btn--close" aria-label="Mobile menu closer" aria-expanded="false"
                aria-controls="main-menu">
                <svg class="btn--header__label btn--header__icon centered-block" width="14" height="14">
                    <use href="./images/icons.svg#icon-close"></use>
                </svg>
            </button>
        </div>

        <div class="header-buttons">
            <button type="button" data-menu-button class="btn--header inverted btn--main-menu" aria-label="Mobile menu opener" aria-expanded="false" aria-controls="main-menu">
                <!-- <img src="./icons/Burger.svg" alt=""> -->
                <svg class="btn--header__icon inverted centered-block" width="20" height="12">
                    <use href="./images/icons.svg#btn-menu"></use>
                </svg>
            </button>

            <button type="button" class="btn--header inverted main-menu__btn--buy-tablet" data-head-open>
                <span class="btn--header__label">
                    Buy now                   
                </span>
                <svg class="btn--header__icon" width="8" height="10">
                    <use href="./images/icons.svg#angle-right"></use>
                </svg>
            </button>
        </div>
    </div>
</header>