<div class="backdrop--header is-hidden" data-head-modal>
        <div class="modal--header">
            <div class="modal--header__thumb">
                <img srcset="./images/header-modal/cirno@1x.png 1x, 
                        ./images/header-modal/cirno@2x.png 2x
                        ./images/header-modal/cirno@3x.png 3x" 
                        src="./images/header-modal/cirno@1x.png"
                        alt="Cirno ate all the ice cream!" width="200" height="auto"/>
            </div>
            <p class="modal--header__text">We are terribly sorry but Cirno has eaten all the ice cream.</p>
            <p class="modal--header__text">Try your luck later.</p>                       
            <button class="close-btn" data-head-close>
                Close
            </button>
        </div>
    </div>