    <section class="hero">
      <div class="container">
        <div class="title__position">
          <h1 class="hero__title">
            ice cream<br />made with<br /><span class="hero__accent">passion</span>
          </h1>
          <div class="hero__counter">
            <ul class="counter__list">
              <li class="counter__item">
                <span class="counter__sphere"></span>
                <span class="counter__number">16</span>
                <p class="counter__discription">cafes</p>
              </li>
              <li class="counter__item">
                <span class="counter__sphere"></span>
                <span class="counter__number">23</span>
                <p class="counter__discription">food trucks</p>
              </li>
            </ul>
          </div>
        </div>

        <ul class="hero__list">
          <li class="hero__item">
            <a href="#">
              <button type="button" class="hero__button hero__button--pink">Products</button>
            </a>
          </li>
          <li class="hero__item">
            <a href="#">
              <button type="button" class="hero__button hero__button--white">How it’s made?</button>
            </a>
          </li>
        </ul>
        <div class="sphere">
          <span class="sphere__object"></span>
          <img
            src="./images/hero-icecream-desk.png"
            width="236"
            alt="Icecream"
            srcset="
              ./images/hero-icecream-desk.png    1x,
              ./images/hero-icecream-desk@2x.png 2x,
              ./images/hero-icecream-desk@3x.png 3x,
              ./images/hero-icecream-tab.png     1x,
              ./images/hero-icecream-tab@2x.png  2x,
              ./images/hero-icecream-tab@3x.png  3x,
              ./images/hero-icecream-mob.png     1x,
              ./images/hero-icecream-mob@2x.png  2x,
              ./images/hero-icecream-mob@3x.png  3x
            "
            class="sphere__image"
          />
        </div>
        <img
          src="./images/hero-girl-desk.png"
          width="293"
          alt="Screaming girl"
          srcset="
            ./images/hero-girl-desk.png    1x,
            ./images/hero-girl-desk@2x.png 2x,
            ./images/hero-girl-desk@3x.png 3x,
            ./images/hero-girl-tab.png     1x,
            ./images/hero-girl-tab@2x.png  2x,
            ./images/hero-girl-tab@3x.png  3x
          "
          class="screamgirl__image"
        />
        <img
          src="./images/hero-milk-desk.png"
          width="188"
          alt="Milk"
          srcset="
            ./images/hero-milk-desk.png    1x,
            ./images/hero-milk-desk@2x.png 2x,
            ./images/hero-milk-desk@3x.png 3x,
            ./images/hero-milk-tab.png     1x,
            ./images/hero-milk-tab@2x.png  2x,
            ./images/hero-milk-tab@3x.png  3x
          "
          class="milk__image"
        />
        <div class="additional__block">
          <p class="additional__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et
          </p>
          <span class="icon__container">
            <svg width="7" height="7" class="arrow-right">
              <use href="./images/icons.svg#icon-arrow-right"></use>
            </svg>
          </span>
        </div>
      </div>
    </section>
