<div class="backdrop-about is-hidden" data-modal>
        <div class="modal-about">
            <div class="modal-about__box">
            <div class="modal-about__img">
                <img srcset="./images/hero-icecream-mob.png 1x, 
                        ./images/hero-icecream-mob@2x.png 2x
                        ./images/hero-icecream-mob@3x.png 3x" 
                        src="./images/hero-icecream-mob.png"
                        alt="icecream" width="100" />
            </div>
            <div>
                <p class="modal-about__text">Glacies cremor sicut lacticiniis plus quam 100 nutrimentum habet. Continet servo, adipes, carbohydratas, vitaminum
                copia. Lac glacies cremor multum tryptophan continet - sedativam naturalem.</p>
                
            <p class="modal-about__text">Glacies crepito est gelida mensa. Glacies cremor est tutissimum acetabula. Quia partes eius disinfescentur (et ideo omnes microorganismi noxii moriuntur).
                    Praeterea refrigeratur mixtura, quae progressionem microorganismi, praesertim noxiam, vetat.</p>
                </div>
                </div>
            <p class="modal-about__text">Glacies cremor est internationalis uber. Slavi varias pulmentarias coquendi, in Europa occidentali multas methodos
                        productionis industriae invenerunt, Americani commentum fecerunt ad cyathos et popsiclos producendos (glacies cremor in
                        baculo, vitreae scelerisque).</p>
                        
            <button class="close-btn" data-modal-close>
                            Close
            </button>
        </div>
    </div>