<section class="reviews">
    <div class="container">
<!-- Разметка слайдера -->
<div class="slider">
    <div class="slider__wrapper">
        <div class="slider__items">
            <div class="slider__item">
                <div class="slider__item_inner">
                    <!-- разметка слайда -->
                    <article class="reviews__article">
                    <div class="reviews__item-img">
                        <img srcset="./images/reviews-client1.png 1x, 
                                    ./images/reviews-client1@2x.png 2x
                                    ./images/reviews-client1@3x.png 3x" 
                            src="./images/reviews-client1.png" alt="Pretty girl"
                            width="85" />
                    </div>
                    <div class="reviews__item-box">
                    <div class="reviews__item-bg-box">
                    <p class="reviews__item">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan
                    congue. Lorem ipsum primis in nibh vel risus.
                    </p>
                    </div>
                    </div>
                    <span class="reviews__name">Emily, Los Angeles</span>
                    </article>
                </div>
            </div>
            <div class="slider__item">
                <div class="slider__item_inner">
                    <!-- разметка слайда -->
                    <article class="reviews__article">
                        <div class="reviews__item-img">
                            <img srcset="./images/reviews-client2.png 1x, 
                                                        ./images/reviews-client2@2x.png 2x
                                                        ./images/reviews-client2@3x.png 3x" src="./images/reviews-client1.png"
                                alt="Pretty girl" width="85" />
                        </div>
                        <div class="reviews__item-box">
                            <div class="reviews__item-bg-box">
                                <p class="reviews__item">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
                                    hendrerit nulla quam nunc, accumsan
                                    congue. Lorem ipsum primis in nibh vel risus.
                                </p>
                            </div>
                        </div>
                        <span class="reviews__name">Maria, New York</span>
                    </article>
                </div>
            </div>
            <div class="slider__item">
                <div class="slider__item_inner">
                    <!-- разметка слайда -->
                    <article class="reviews__article">
                        <div class="reviews__item-img">
                            <img srcset="./images/reviews-client3.png 1x, 
                                        ./images/reviews-client3@2x.png 2x
                                        ./images/reviews-client3@3x.png 3x"
                                src="./images/reviews-client3.png" alt="Pretty girl" width="85" />
                        </div>
                        <div class="reviews__item-box">
                            <div class="reviews__item-bg-box">
                                <p class="reviews__item">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
                                    hendrerit nulla quam nunc, accumsan
                                    congue. Lorem ipsum primis in nibh vel risus.
                                </p>
                            </div>
                        </div>
                        <span class="reviews__name">Vanessa, Miami</span>
                    </article>
                </div>
            </div>
        </div>
    </div>
    <div class="slider__indicators-box">
        <ol class="slider__indicators">
            <li class="slider__indicator slider__indicator_active" data-slide-to="0"></li>
            <li class="slider__indicator" data-slide-to="1"></li>
            <li class="slider__indicator" data-slide-to="2"></li>
        </ol>
    </div>
</div>
</div>
</section>