.footer {
    background-color: $color__bkg--mid-section;
}

.footer__suptitle {
    @extend %footer-suptitle;
}

.footer__title {
    @extend %footer-title;
}






.footer__call-slogan {
    @extend %footer-call-slogan;
}

.footer__tel {
    @extend %footer-tel;
}

.footer__copyright-box {
    border-top: 1px solid $color__slider--underscore;
}

.footer__copyright {
    @extend %footer-copyright;

    margin-left: auto;
    margin-right: auto;
    padding-top: 24px;
    padding-bottom: 24px;

    @include mq('tablet', max) {
        max-width: 150px;
    }
}