.reviews_photo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.reviews_page {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.reviews_text-bg {
  display: flex;
  justify-content: center;

  background: #fafafa;
  width: 280px;
  margin-top: 29px;
  margin-bottom: 30px;
}
.reviews_text {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 31px;
  /* or 31px */
  text-align: center;
  width: 157px;
  color: #000000;

  margin-top: 29px;
  margin-bottom: 30px;
}
.reviews_name-adres {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 26px;
  /* or 26px */

  text-align: center;

  color: #000000;
  margin-top: 18px;
  margin-bottom: 30px;
}
@media (min-width: 768px) {
  .reviews_photo {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .reviews_page {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .reviews_text {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    width: 157px;
    font-size: 12px;
    line-height: 31px;
    /* or 31px */
    text-align: center;
    background: #fafafa;
    color: #000000;
    margin-top: 29px;
    margin-bottom: 30px;
    width: 100%;
  }
  .reviews_name-adres {
    font-family: DM Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 26px;
    /* or 26px */

    text-align: center;

    color: #000000;
    margin-top: 18px;
    margin-bottom: 30px;
  }
}

@media (min-width: 1280px) {
}
